table{
    margin-right: auto;
    margin-left: auto;
    border: 5px black;
    background-color: silver;
    padding: .8%;
    border-radius: 12px;
}
td{
    text-align: center;
    border: 3px rgb(48, 4, 168);
    padding: 5px;
}
button{
    width: 60px;
    height: 40px;
    background-color: black;
    color: blueviolet;
    border-style: inset;
    border-radius: 8px;
}
#display{
    text-align: right;
    border: 5px rgb(48, 4, 168);
    background-color: rgb(252, 249, 243);
    width: 60px;
    height: 40px;
    border-style: inset;
    font-size: 1.8em;
}
.x{
    color: rgb(77, 165, 77);
}
.y{
    color: rgb(22, 34, 209);
}
.operator{
    color: rgb(145, 9, 4);
}
.answer{
    color: rgb(240, 120, 8);
}
button:hover{
    background-color: rgb(253, 253, 253);
}